<%= form_for(@ranktable) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <ul>
    <%= f.nested_fields_for :option do |option_form| %>
      <li>
        Option: <%= option_form.text_field :value %>
      </li>
    <% end %>
  </ul>
    <%= f.hidden_field :authorName, :value => full_name %>
    <%= f.hidden_field :authorID, :value => current_user.id %>
  <p>
    <%= f.submit %>
    <%= link_to "Cancel", root_path %>
  </p>
<% end %>