<%= form_for(@ranktable) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
    <%= f.fields_for :option do |option_form| %>
      <%=render 'option_fields',f: option_form %>
    <% end %>
    <%= link_to_add_fields "Add Option", f, :option %>
    <%= f.hidden_field :authorName, :value => full_name %>
    <%= f.hidden_field :authorID, :value => current_user.id %>
  <p>
    <%= f.submit %>
    <%= link_to "Cancel", root_path %>
  </p>
<% end %>