<ranktable>
  <header>
    <h1><%= @ranktable.title %></h1>
  </header>
  <p>
    <%= @ranktable.description %>
  </p>
  <h2>Author</h2>
  <p>
    <%= @ranktable.author %>
  </p>
  <h3>Date</h3>
  <p>
    <%= @ranktable.created_at %>
  </p>
  <h3>Options</h3>
  <% @it = 0 %>
  <%= form_tag votes_path do %>
    <% @ranktable.options.split(/,/).each do |text| %>
      <%= text_field_tag "options[][option]" %>
    <% end %>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
  <p>
    <% @ranktable.options.split(/,/).each do |option| %>
      <li>
        <%= option.tr('[]', '').tr('"','') %>
      </li>
    <% end %>
  </p>
  <%= link_to("Homepage", root_path) %>
  <%= link_to "Delete", ranktable_path(@ranktable), method: :delete, data: { confirm: 'Are you sure?' } %>

</ranktable>