<ranktable>
  <header>
    <h1><%= @ranktable.title %></h1>
  </header>
  <p>
    <%= @ranktable.description %>
  </p>
  <%= render 'votes_form' %>
  <p>
    Author: <%= @ranktable.authorName %>
  </p>
  <p>
    Date Created: <%= @ranktable.created_at %>
  </p>
  <%= link_to "Results Page", ranktable_results_path(@ranktable) %>

</ranktable>