<ranktable>
  <header>
    <h1><%= @ranktable.title %></h1>
  </header>
  <p>
    <%= @ranktable.description %>
  </p>
  <h2>Author</h2>
  <p>
    <%= @ranktable.authorName %>
  </p>
  <h3>Date</h3>
  <p>
    <%= @ranktable.created_at %>
  </p>
  <h3>Options</h3>
  <%= form_tag votes_path do %>
    <% @ranktable.options.split(/,/).each do |text| %>
      <%= @text = text.tr('[]', '').tr('"','')  %>
      <%= text_field_tag "options[#{@text}" %>
    <% end %>
    <%= hidden_field_tag :user , current_user.id%>
    <%= hidden_field_tag :tableID , @ranktable.id%>

    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
  <%= link_to("Homepage", root_path) %>
  <%= link_to "Delete", ranktable_path(@ranktable), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Results Page", ranktable_results_path(@ranktable) %>

</ranktable>