<h2>My Rank Tables</h2>
<% @ranktables.each do |table| %>
  <li>
    <strong><%= link_to(table.title, table) %></strong> (<%= table.authorName %>):
    <%= table.description %>
    <%= table.options %>
    <%= table.created_at %>
  </li>
<% end %>