<h2>Rank Tables I have Voted In:</h2>
<% @votetables.each do |table| %>
  <li>
    <strong><%= link_to(table.title, table) %></strong> (<%= table.authorName %>):
    <%= table.description %>
    <%= table.options %>
    <%= table.created_at %>
  </li>
<% end %>